<%- include("header") -%>

<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #a683e3;">
    <a class="navbar-brand  fs-2 " href="/">About Page</a>

    <div>
        <ul class="navbar-nav ml-0">
            <li class="nav-item active">
                <a class="nav-link active fs-3" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-3" href="/work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-3" href="/about">about</a>
            </li>
        </ul>

    </div>
</nav>


<p class="about">Who Cares</p>

<%- include("footer") -%>